/*******************************************************************************
<<<<<<< HEAD
 * _base.scss
 *
 * Base styles define the default look for HTML and common Drupal elements.
 *
 * These rules will generally be made up of element selectors for HTML elements
 * such as headings, paragraphs and lists. Common Drupal elements such as form
 * items, collapsible fieldsets and messages should be included in this partial.
 *
 * The styleguide module (http://drupal.org/project/styleguide) gives you a good
 * overview of Drupal's common elements for styling. By setting a solid baseline
=======
 * _base.scss

 * Base styles define the default look for HTML and common Drupal elements.
 *
 * These rules will generally be made up of element selectors for HTML elements
 * such as headings, paragraphs and lists. Common Drupal elements such as form
 * items, collapsible fieldsets and messages should be included in this partial.
 *
 * The styleguide module (http://drupal.org/project/styleguide) gives you a good
 * overview of Drupals common elements for styling. By setting a solid baseline
>>>>>>> sandbox/7.x-4.x
 * before adding any more specific customisations you ensure that as any new
 * features are added they will be correctly styled without any extra work.
 ******************************************************************************/

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  margin: 1em 0 .5em 0;
}

@mixin yellowUnderlineLink {
  a {
    color: black;
    border-bottom: 2px solid $yellow;
  }
}

.l-content {
  h1 {
    margin: 0;
    padding: 20px 10px 25px 10px;
    color: white;
    font: {
      size: 45px;
      weight: normal;
    }
    background: {
      color: $lightblue;
    }
    a {
      color: white;
    }
  }
  h2, h3, h4, h5, h6 {
    color: $darkblue;
    font-weight: normal;
    a {
      color: $darkblue;
    }
    a:hover, a:focus {
      color: $orange;
    }
  }
  h2 {

  }
  h3 {
  }
}
.page-node {
  .l-content {
    .field--body {
      @include yellowUnderlineLink;
      p {
        margin: 10px 0;
      }
    }
    #disqus_thread,
    .field--socialshareprivacy {
      img {
        width: initial;
      }
    }
    .caption {
      font-style:italic;
      color: $darkgrey;
    }
  }
}

/* Random elements */
.italic {
  font-style: italic;
}

.links a {
  color: $darkgrey;
}

.node-readmore,
.read-more {
  @include blackButton;
}
.disqus_comments_num {
  padding: 0 0 10px;
}
.mollom-privacy {
  @include yellowUnderlineLink;
  font-size: 14px;
}
.feed-icon {
  float: right;
  padding: 10px 0;
}

.branding {
  text-align: center;
  .site-logo {
    display: block;
    padding-bottom: $horz-spacing-unit
  }
}

.l-header {
  .block, .block__content {
    display: inline-block;
  }
}


@mixin orangeBlockLink {
  @include rightWhiteArrowBig;
  padding: 10px 10px;
  font: {
    size: 45px;

  }
  color: white;
  background: {
    color: $orange;
  }
}


/* Navigation */
.l-region--branding {
  @include clearListStyles;
  margin-bottom: 20px;
  ul.menu li {
    margin-bottom: 5px;
    a {
      @include linkBlockStyle;
    }
    ul.menu li {
      @include blueMenu;
      ul.menu li {
        margin: 0;
        a {
          color: $darkblue;
          padding: 5px 10px;
          background: {
            color: $lightgrey;
            image: none;
          }
        }
        a.active,
        a:hover,
        a:focus {
          background-color: $grey;
        }
      }
    }
  }
  // Magic to hide non-active menu
  .menu-block-wrapper > ul.menu > li ul.menu > li ul.menu,
  .menu-block-wrapper > ul.menu > li ul.menu {
    display: none;
  }
  .menu-block-wrapper > ul.menu > li.active-trail ul.menu > li.active-trail ul.menu,
  .menu-block-wrapper > ul.menu > li.active-trail ul.menu {
    display: block;
  }
  // Learn & Take Action  menu items
  .menu-block-wrapper > ul.menu > li > a {
    @include orangeBlockLink;
  }
  .menu-block-wrapper > ul.menu > li > a:hover,
  .menu-block-wrapper > ul.menu > li > a:focus {
    background-color: $lightorange;
  }
  .menu-block-wrapper > ul.menu > li > a.active-trail {
    @include downBlackArrowBig;
  }
  select {
    @include orangeBlockLink;
    -webkit-appearance: none;
    width: 320px;
    border: 0 none;
    cursor: pointer;
    font-size: 16px;
    option {
      background-color: $lightorange;
      color: black;
    }
  }
  .block {
    margin: 0 0 10px 0;
  }
}

// overrides
.node-type-weekly-update #block-menu-block-1 ul.menu,
.node-type-media-hit #block-menu-block-1 ul.menu {
  display: block;
}

.l-region--sidebar-first {
  .block {
    margin: 0 0 25px 0;
    .block__title {
      border-bottom: 3px solid $darkblue;
      margin: 0 0 10px;
      font: {
        size: 25px;
      }
      color: $darkblue;
    }
  }
}


/* Footer */
@mixin footerHeadLink {
  font: {
    size: 16px;
  }
  color: $orange;
  border-bottom: 2px solid $orange;

}

.i18n-es .l-footer-wrapper {
  #block-block-2,
  #block-locale-language {
    top: 0;
    float:none;
  }
}
.l-footer-wrapper {
  background-color: $lightgrey;
  padding: 20px 0;
  .l-region--footer-first {
    h4 {
      margin-top: 0;
    }
  }
  #block-boxes-school-leaders {
    display: none;
  }
  #block-block-2,
  #block-locale-language {
    position: relative;
    float:right;
    top: -40px;
    a {
      padding: 5px 10px;
    }
    margin-bottom: 20px;
  }
  #block-search-form {
    margin: 0;
    .block__content {
      margin-left: 50%;
      form {
        margin-left: -50%;
        input[type=text] {
          min-width: 170px;
        }
      }
    }
  }
  #block-menu-block-3,
  #block-menu-block-4,
  #block-menu-block-5,
  .l-region--footer-third .block,
  .l-region--footer-second .block {
    margin: 0 0 20px;
    @include clearListStyles;
    .menu-block-wrapper > ul.menu > li > a {
      @include footerHeadLink;
      @include linkBlockStyle;
    }
    ul.menu ul.menu li {
      a {
        @include linkBlockStyle;
        padding: 5px 0 0;
        color: black;
      }
      a:hover,
      a:focus {
        color: $darkgrey;
      }
    }
  }
  #block-menu-block-5 {
    ul.menu li {
      margin: 0 0 20px;
    }
  }
}

/* Take ACtion & Learn Pages */

.section-tomar-medidas,
.section-aprenda,
.section-take-action,
.section-learn {
  .l-region--branding {
    ul.menu ul.menu {
      display: none !important;
    }
  }
  .l-content-right {
    @include clearListStyles;
    ul.menu li {
      margin-bottom: 5px;
      @include blueMenu;
      a {
        font-size: 25px;
      }

    }
  }
}
.section-learn .l-content-right h1 {
  @include bgLightbulb;
}
.section-take-action .l-content-right h1 {
  @include bgActionArrow;
}

/* Search */
#search-form #edit-basic,
#search-block-form {
  @include arrowLinkSmall;
  margin: 10px 0 0;
  div {
    display: inline-block;
    margin: 0;
    input.form-text {
      width: 190px;
      padding: 1px 2px 0 20px;
      background: {
        image: url(../images/search_icon.png);
        repeat: no-repeat;
        position: 0;
      }
    }
  }
}

/* Search Results Page */
.page-search {
  .search-form #edit-basic {
    div , input {
      display:inline-block !important;
    }
    label {
      display: none;
    }
  }
  .search-results {
    .search-result {
      margin: 0 0 35px;
      .search-result__snippet {
        color: $darkergrey;
        padding: 0;
        margin: 0;
        strong {
          color:black;
        }
      }
      .search-result__info {
        display:none;
      }
    }
  }
}

.lang-indicator {
  span {
    padding: 1px 2px 0;
    font-size: 13px;
  }
  .es {
    background-color: $yellow;
  }
  .en {
    background-color: $green;
  }
}

/* Pagers */
ul.pager {
  text-align: left;
  li {
    font: {
      size: 18px;
    }
    a {
      padding: 2px 3px;
      color: black;
    }
    a:hover, a:focus {
      color: white;
      background-color: $darkergrey;
    }
  }
  .pager__item--current {
    padding: 2px 3px;
    color: white;
    background-color: black;
  }
  .pager__item--pager-next,
  .pager__item--previous,
  .pager__item--first,
  .pager__item--last {
    font: {
      size: 14px;
    }
    a {
      @extend .pager__item--current;
      text-transform: capitalize;
    }
  }
}



/* Nodes */
.page-node .node--full {
}
.node--media-hit,
.node--blog-entry {
  .field--media-hit-date,
  .field--blog-date {
    color: $darkergrey;
    margin: 10px 0 5px;
    display: block;
  }
  .node__title {
    margin: 5px 0;
  }
  .submitted {
    display: inline;
    color: $darkgrey;
    font-style: italic;
    .field--media-author,
    .field--author,
    .field--author a {
      display: inline;
      text-transform: uppercase;
      font-style:normal;
      color: $darkergrey;
    }
  }
  .node__content {
    margin: 20px 0;
  }
  .field--blog-tags {
    display:inline-block;
    a {
      padding: 4px;
      color: $lightblue;
      background-color: black;
      font: {
        size: 25px;
      }
    }
    a:hover, a:focus {
      background-color: $darkergrey;
    }
  }
  .field--external-url {
    padding: 10px 0 30px 70px;
    a {
      padding: 5px 0 5px 0;
      border-bottom: 2px solid $yellow;
      color: $darkgrey;
    }
    background: {
      image: url(../images/newspaper.png);
      repeat: no-repeat;
      position: 0 0;
    }
  }
  .field--file {
    img {
      vertical-align:middle;
      padding: 10px 10px 10px 0;
    }
    a {
      padding: 5px 0 5px 0;
      border-bottom: 2px solid $yellow;
      color: $darkgrey;
    }
  }
  .field-label {
    margin: 10px 0;
  }
}

/* View's Row */
@mixin viewRow {
  margin: 20px 0 0;
  padding: 0 0 20px;
  border-bottom: 2px dotted $darkgrey;
}
.media-hit-outlet-wrapper {
  color: $darkergrey;
  text-transform: uppercase;
  .italic {
    color: $darkgrey;
    text-transform: none;
  }
  div {
    display: inline-block;
  }
}

/* Media Hit View */
.view-media-archive {
  .media-hit {
    @include viewRow;
    .media-hit-title {
      margin: 5px 0;
    }
    .media-hit-summary {
    }
  }
}

/* Blog View */
.view-blog.view-display-id-page_2 {
  .blog-entry {
    @include viewRow;
    .links li {
      display: block;
      clear:both;
    }
  }
}
