/*******************************************************************************
<<<<<<< HEAD
 * _base.scss
 *
 * Base styles define the default look for HTML and common Drupal elements.
 *
 * These rules will generally be made up of element selectors for HTML elements
 * such as headings, paragraphs and lists. Common Drupal elements such as form
 * items, collapsible fieldsets and messages should be included in this partial.
 *
 * The styleguide module (http://drupal.org/project/styleguide) gives you a good
 * overview of Drupal's common elements for styling. By setting a solid baseline
=======
 * _base.scss

 * Base styles define the default look for HTML and common Drupal elements.
 *
 * These rules will generally be made up of element selectors for HTML elements
 * such as headings, paragraphs and lists. Common Drupal elements such as form
 * items, collapsible fieldsets and messages should be included in this partial.
 *
 * The styleguide module (http://drupal.org/project/styleguide) gives you a good
 * overview of Drupals common elements for styling. By setting a solid baseline
>>>>>>> sandbox/7.x-4.x
 * before adding any more specific customisations you ensure that as any new
 * features are added they will be correctly styled without any extra work.
 ******************************************************************************/


.l-branding .site-logo img {
}

.arrow_link {
  display: block;
  width: 50px;
  height: 50px;
  background: {
    image: url(../images/esd_ARROWBUTTON_SPRITE.png);
    repeat: no-repeat;
  }
}

@mixin clearListStyles {
  ul {
    list-style:none;
    margin: 0;
    padding: 0;
    li {
      list-style-type: none !important;
      list-style-image: none;
    }
  }
}

@mixin linkBlockStyle {
  display: block;
}

.l-region--navigation {
  @include clearListStyles;
  ul.menu li {
    a {
      @include linkBlockStyle;
      text-decoration: none;

    }
  }
  .menu-block-wrapper > ul.menu > li > a {
    padding: 10px 10px;
    font: {
      size: 45px;

    }
    color: white;
    background: {
      color: $orange;
    }
  }
  .menu-block-wrapper > ul.menu > li > a:hover,
  .menu-block-wrapper > ul.menu > li > a:focus {
    background-color: $lightorange;
  }
}

@mixin imageLink {
  text-indent: -999px;
  display:inline-block;
  background: {
    repeat: no-repeat;
    position: 0 0;
  }
}

#block-boxes-ask-us {
  a {
    @include imageLink;
    background: {
      image: url('../images/esd_ASK.png');
    }
    width: 305px;
    height: 262px;
  }
  a:hover, a:focus {
    background: {
      image: url('../images/esd_ASK.png');
    }
  }
}

#block-boxes-social-share {
  a {
    @include imageLink;
  }
  .sprite-twitter {
    background-image: url('../images/twitter_sprite.png');
    width: 24px; height: 20px;
  }
  .sprite-twitter:hover {
    background-position: 0 -70px;
    width: 24px; height: 20px;
  }
  .sprite-pinterest {
    background-image: url('../images/pinterest_sprite.png');
    width: 19px; height: 25px;
  }
  .sprite-pinterest:hover {
    background-position: 0 -75px;
    width: 19px; height: 25px;
  }
  .sprite-googleplus {
    background-image: url('../images/googleplus_sprite.png');
    width: 24px; height: 24px;
  }
  .sprite-googleplus:hover {
    background-position: 0 -74px;
    width: 24px; height: 24px;
  }
  .sprite-facebook {
    background-image: url('../images/facebook_sprite.png');
    width: 12px; height: 24px;
  }
  .sprite-facebook:hover {
    background-position: 0 -74px;
    width: 12px; height: 24px;
  }
}

