
/* Language Switcher */
#block-locale-language {
  @include clearListStyles;
  ul.language-switcher-locale-url {
    li.active {
      display:none;
    }
    li a {
      padding: 15px 10px 5px;
      color: $lightblue;
      background-color: $darkblue;
    }
    li a:hover, li a:focus {
      background-color: black;
    }
  }

}

#block-search-form {
  margin: 0 0 0 20px;
  form {
    margin: 0;

  }
}

#block-boxes-school-leaders {
  .boxes-box-content {
    p {
      margin: 0;
      padding: 0;
      a {
        display: block;
        height: 24px;
        width: 223px;
        padding: 3px 3px 3px 22px;
        margin: 0;
        background: {
          image: url(../images/school-leader-sprite.png);
          repeat: no-repeat;
        }
        color: white;
        font-size: 14px;
        &:link, &:visited {
          background-position: 0 0;
        }
        &:active, &:hover {
          background-position: 0 -74px;
        }
      }
    }
  }
}

#block-boxes-learn-more-es,
#block-boxes-learn-more {
  .boxes-box-content {
    padding: 5px 20px;
    margin: 0 0 20px;
    background-color: $greyblack;
    font-size: 20px;
    color: white;
    a {
      color: #999;
      text-transform: uppercase;
    }
    a:hover, a:focus {
      color: white;
    }
  }
}

#block-boxes-school-score-widget {
  margin: 30px 0 30px;
  h2 {
    margin: 0;
    padding: 10px;
    background-color: $orange;
    font: {
      size: 18px;
    }
    color: white;
  }
  .block__content {
    padding: 20px;
    background-color: $lightorange;
    @include arrowLink;
    .score-right {
      form {
        padding: 0 0 10px;
        margin: 0 0 20px;
        label {
          display: block;
          margin: 0 0 5px;
          font-size: 15px;
          color: black;
        }
        input[type=text] {
          width: 220px;
          margin: 0 10px 0 0;
        }
        input[type=submit] {
          margin-top: 5px;
          float:right;
        }
      }
      #school-zip-code-form {
        padding: 0 0 20px;
        border-bottom: 1px solid white;
      }
    }
  }
}

#block-boxes-did-you-know-es,
#block-boxes-did-you-know {
  h2 {
    margin: 0;
    padding: 10px;
    background-color: $green;
    font: {
      size: 18px;
    }
    color: white;
  }
  .block__content {
    padding: 20px;
    background-color: $lightgreen;
    .dyk-image {
      display: none;
    }
    .dyk-link-wrap {
      float: right;
      @include arrowLink;
    }
    .dyk-body {
      font: {
        size: 25px;
      }
      p {
        margin: 10px 0 0;
      }
    }
  }
}

#block-views-blog-block-1 {
  display:none;
  .blog-entry {
    margin-bottom: 20px;
    .field--blog-date {
      font: {
        size: 15px;
      }
      color: $darkergrey;
    }
    a {
      color: black;
      font: {
        size: 15px;
      }
    }
    a:hover, a:focus {
      color: $orange;
    }
  }
  .more-link {
    text-align: left;
    @include blackButton;
  }
}

#block-boxes-ask-us .boxes-box-content {
  text-align: center;
  a {
    @include imageLink;
    background: {
      image: url('../images/esd_ASK.png');
      position: -12px 0;
    }
    width: 305px;
    height: 262px;
  }
  a:hover, a:focus {
    background: {
      image: url('../images/esd_ASK_hover.png');
      position: -12px 0;
    }
  }
}
#block-boxes-ask-us-es .boxes-box-content {
  text-align: center;
  a {
    @include imageLink;
    background: {
      image: url('../images/esd_preguntenos.png');
    }
    width: 329px;
    height: 269px;
  }
  a:hover, a:focus {
    background: {
      image: url('../images/esd_preguntenos_hover.png');
    }
  }
}


#block-boxes-social-share {
  margin: 40px 0 10px;
  .boxes-box-content a {
    @include imageLink;
    padding: 10px;
    margin: 0 10px 0 0;
  }
  .sprite-twitter {
    background-image: url('../images/twitter_sprite.png');
    width: 24px; height: 20px;
  }
  .sprite-twitter:hover {
    background-position: 0 -70px;
    width: 24px; height: 20px;
  }
  .sprite-pinterest {
    background-image: url('../images/pinterest_sprite.png');
    width: 19px; height: 25px;
  }
  .sprite-pinterest:hover {
    background-position: 0 -75px;
    width: 19px; height: 25px;
  }
  .sprite-googleplus {
    background-image: url('../images/googleplus_sprite.png');
    width: 24px; height: 24px;
  }
  .sprite-googleplus:hover {
    background-position: 0 -74px;
    width: 24px; height: 24px;
  }
  .sprite-facebook {
    background-image: url('../images/facebook_sprite.png');
    width: 12px; height: 24px;
  }
  .sprite-facebook:hover {
    background-position: 0 -74px;
    width: 12px; height: 24px;
  }
}

#block-mailchimp-lists-get-email-updates .block__content {
  background-color: $yellow;
  padding: 10px;
  #edit-mailchimp-lists-mailchimp-get-email-updates-title {
    @include bgEnvelope;
    padding: 0 80px 5px 0;
    margin: 0 0 10px;
    border-bottom: 2px solid black;
    font: {
      size: 25px;
    }
  }
  @include blackButton;

}

#block-connector-one-click-block {
  @include blackButton;
}

#block-boxes-gcal-embed {
  display:none;
}

