
form {
  fieldset {
    border: 0 none;
    margin: 0 0 35px;
    padding: 0;
    legend {
      width: 100%;
      margin: 0 0 10px;
      .fieldset-legend {
        padding: 10px 0 10px;
        width: 100%;
        display:block;
        border-bottom: 2px solid black;
        font-size: 18px;
      }
    }
    a.fieldset-title {
      padding: 10px 0 0 0;
      font-size: 14px;
      color: $darkgrey;
    }
    &.collapsed {
      height: 3em !important;
    }
  }
  .form-type-radio {
    input, label {
      display: inline-block;
      vertical-align: top;
    }
    label {
      max-width: 85%;
      padding-top:1px;
      vertical-align: top;
    }
  }
  .form-item label {
    color: $darkergrey;
    font: {
      size: 14px;
      weight: normal;
    }
    .form-required {
      color: $orange;
    }
  }
  .description {
    color: $darkergrey;
    font-family: Arial, sans-serif;
    padding: 5px 0;
  }
  @include at-breakpoint($tab_break) {
    .form-item label {
      float:left;
      display: inline-block;
      text-align: right;
      width: 150px;
      padding-right: 10px;
    }
    .form-wrapper {
      margin-bottom: 20px;
      @include clearfix;
    }
   .handle {
      box-sizing: content-box;
    }
    .form-textarea-wrapper {
      display: inline-block;
    }
    $pushed_elements: 'table, .form-type-radio, #edit-pass-pass2, .description, .field-add-more-submit, .form-actions.form-wrapper, .form-type-checkbox';
    #{$pushed_elements} {
      margin-left: 150px;
    }
    .description {
      @include clearfix;
      font-style: italic;
      font-size: 12px;
    }
    .delta-order.tabledrag-hide,
    .tabledrag-toggle-weight,
    .field-multiple-drag {
      display: none;
    }
    // reset label positioning:
    .form-item label.option,
    table label {
      float: none;
      text-align: left;
      width: auto !important;
      padding-right:0;
    }
    // reset elements in vertical tabs.
    .vertical-tabs {
      #{$pushed_elements} {
        margin-left: 0;
      }
    }
  }
  @include at-breakpoint($desk_break) {
    .tabledrag-toggle-weight {
      display: inline-block;
    }
    .delta-order.tabledrag-hide,
    .field-multiple-drag {
      display: table-cell;
    }
  }
  .tabledrag-toggle-weight-wrapper {
    text-align: left;
    a:link, a:visited {
      color: $grey;
      font-size: 11px;
      font-style: italic;
    }
  }
  .form-actions {
    input.form-submit {
      margin-right: 10px;
    }
  }
  .action,
  #edit-actions {
    @include blackButton;
    margin-top: 10px 0;
  }
  textarea.error,
  input.error {
    border: 2px solid $red !important;
  }
  textarea:disabled,
  input:disabled {
    background-color: $grey !important;
  }
  textarea,
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="tel"],
  input[type="url"],
  input[type="text"] {
    border: 2px solid $grey;
    background-color: white;
    max-width: 300px;
  }
  textarea:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="password"]:focus,
  input[type="tel"]:focus,
  input[type="url"]:focus,
  input[type="text"]:focus {
    background-color: white;
    border: 2px solid $darkgrey;
    outline: none;
  }
  textarea {
    max-width: 305px;
  }
  .grippie {
    width: 305px;
  }
}

.node-form {
  clear: left;
}
