
@mixin overlapCaptionPosition {
  position: relative;
  top: -45px;
}

.view-frontpage-slideshow {
  margin: 0;
  .slide {
    .slide-image {

    }
    .slide-title {
      @include overlapCaptionPosition;
      display: inline-block;
      padding: 5px 15px;
      margin: 0;
      font-size: 25px;
      color: white;
      background-color: $lightblue;
    }
    .slide-caption {
      @include overlapCaptionPosition;
      a {
        @include linkBlockStyle;
        padding: 20px;
        color: black;
        background-color: $lighterblue;
      }
      a:hover, a:focus {
        background-color: $lightblue;

      }
      .col1, .col2, .col3 {
        display: inline-block;
        width: 33%;
        height: 120px;
        z-index: 1;
        margin: 0;
        text-align: center;
        p {
          padding: 0 10px;
          margin: 0;
        }
      }
      .col1, .col2 {
        border-right: 2px dotted white;
      }

    }
  }
  .views-slideshow-controls-top {
    position:relative;
    top: 180px;
    z-index: 10;
    a {
      @include imageLink;
    }
    #views_slideshow_controls_text_previous_frontpage_slideshow-page {
      float:left;
      @include arrowLinkLeft;
    }
    #views_slideshow_controls_text_pause_frontpage_slideshow-page {
      display: none;
    }
    #views_slideshow_controls_text_next_frontpage_slideshow-page {
      float:right;
      @include arrowLink;
    }
  }
}
