$slideshow_frontpage_negativemargin: -40px;

@mixin overlapCaptionPosition {
  margin-bottom: $slideshow_frontpage_negativemargin;
}

#flexslider_views_slideshow_main_frontpage_slideshow-page {
  .flexslider {
    margin: 0;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    bottom: 0;
    .flex-control-nav {
      bottom: 0;
    }
    background-color: $lighterblue;
  }
  li {
    .slide-image {
      @include overlapCaptionPosition;
    }
    .slide-title {
      display: inline-block;
      padding: 5px 15px;
      margin: 0;
      font-size: 25px;
      color: white;
      background-color: $lightblue;
    }
    .slide-caption {
      margin: 0;
      a {
        @include linkBlockStyle;
        padding: 20px;
        color: black;
        background-color: $lighterblue;
        > p {
          @include clearfix;
          clear: both;
        }
      }
      a:hover, a:focus {
        background-color: $lightblue;

      }
      .col1, .col2, .col3 {
        float: left;
        width: 32.5%;
        z-index: 1;
        margin: 0;
        text-align: center;
        p {
          padding: 0 10px;
          margin: 0;
        }
      }
      .col1, .col2 {
        border-right: 2px dotted white;
      }
      img {
        display: none;
      }
    }
  }
  @include at-breakpoint($desk_break) {
    li .slide-caption img {
      width: auto;
      display: inline;
    }
  }
}
