/*******************************************************************************
 * _layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
@import "susy";
@import "../../utils/vars";

@include border-box-sizing;

// Susy Variables

// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 20px;
$horz-spacing-unit: 20px;

// Define Susy grid variables mobile first.
$total-columns: 4;
$column-width: 40px;
$gutter-width: $horz-spacing-unit;
$grid-padding: $gutter-width;

$container-style: magic;

.l-footer,
.l-main {
  @include container; // Define these elements as the grid containers.
  @include susy-grid-background; // Show the columns for debugging.
  margin-bottom: $vert-spacing-unit;
}
body .l-footer-wrapper {
  width: 100%;
  margin: 0;
}

.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first,
.l-region--sidebar-second {
  margin-bottom: $vert-spacing-unit;
}

@include at-breakpoint($tab_break) {
  .l-footer,
  .l-main {
    @include set-container-width;
    @include susy-grid-background;
    width: $tab_width; // static width
  }

  .l-header {
    @include span-columns(6, 12);
  }
  .l-region--header{
    @include span-columns(6 omega, 12);
  }
  .l-region--navigation {
    clear: both;
  }

  .sidebar-first {
    .l-content {
      @include span-columns(10 omega, 12);
    }
    .l-region--sidebar-first {
      @include span-columns(6, 12);
    }
  }
  .sidebar-second {
    .l-content {
      @include span-columns(6, 12);
    }
    .l-region--sidebar-second {
      @include span-columns(6, 12);
      clear: none;
    }
  }
  .l-region--footer-first {
    @include span-columns(6, 12);
    margin-right: 0;
  }
  .l-region--footer-second,
  .l-region--footer-third {
    @include span-columns(5, 12);
    margin-right: 0;
  }
}

@include at-breakpoint($desk_break) {
  .l-footer,
  .l-main {
    @include set-container-width;
    @include susy-grid-background;
    width: $desk_width; // static width
  }

  .l-region--header{
    @include span-columns(6 omega, 16);
  }
}
