/*******************************************************************************
 * _layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
@import "susy";
@import "../../utils/vars";

// Susy Variables

// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 20px;
$horz-spacing-unit: 1em;

// Define Susy grid variables mobile first.
$total-columns: 4;
$column-width: 4em;
$gutter-width: $horz-spacing-unit;
$grid-padding: 5px;

$container-style: magic;
$container-width: 1020px;

.l-footer,
.l-main {
  @include container; // Define these elements as the grid containers.
  // @include susy-grid-background; // Show the columns for debugging.
  margin-bottom: $vert-spacing-unit;
}
body .l-footer-wrapper {
  width: 100%;
  margin: 0;
}

.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first,
.l-region--sidebar-second {
  margin-bottom: $vert-spacing-unit;
}

@include at-breakpoint($tab) { // At a given Susy Media Layout, use a given amount of columns.
  .l-footer,
  .l-main {
    @include set-container-width; // Reset only the container width (elements have already been declared as containers).
    // @include susy-grid-background; // Show the columns for debugging.
  }

  .l-header {
    @include span-columns(6, 16); // Span 4 out of 12 columns.
  }
  .l-region--header{
    @include span-columns(6 omega, 16); // Span the last (omega) 8 columns of 12.
  }
  .l-region--navigation {
    clear: both;
  }

  .sidebar-first {
    .l-content {
      @include span-columns(10 omega, 16); // Span the last (omega) 12 columns of 16.
    }
    .l-region--sidebar-first {
      @include span-columns(6, 16); // Span 4 out of 16 columns.
    }
  }
  .sidebar-second {
    .l-content {
      @include span-columns(12, 16); // Span 12 out of 16 columns.
    }
    .l-region--sidebar-second {
      @include span-columns(4 omega, 16); // Span the last (omega) 12 columns of 16.
      clear: none;
    }
  }

  .two-sidebars {
    .l-content {
      @include span-columns(8, 16); // Span 12 out of 16 columns.
      @include push(4, 16);  // Push element by adding 4 out of 16 columns of left margin.
    }
    .l-region--sidebar-first,
    .l-region--sidebar-second {
      @include span-columns(4, 16); // Span 4 out of 16 columns.
    }
    .l-region--sidebar-first {
      @include pull(12, 16); // Pull element by adding 12 out of 16 columns of negative left margin.
    }
    .l-region--sidebar-second {
      @include omega; // This element spans the last (omega) column.
      clear: none;
    }
  }

  .l-region--footer-first {
    @include span-columns(6, 16); // Span 4 out of 16 columns.
    margin-right: 0;
  }
  .l-region--footer-second,
  .l-region--footer-third {
    @include span-columns(5, 16); // Span 4 out of 16 columns.
    margin-right: 0;
  }
}

@include at-breakpoint($desk) {
  .l-footer,
  .l-main {
    @include set-container-width; // Reset only the container width (elements have already been declared as containers).
    // @include susy-grid-background; // Show the columns for debugging.
  }

  .l-region--header{
    @include span-columns(6 omega, 16); // Span the last (omega) 10 columns of 16.
  }
}
