
@font-face {
  font-family: 'MuseoSlab';
  src: url('../fonts/museo_slab/Museo_Slab_500.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSlabItalic';
  src: url('../fonts/museo_slab/Museo_Slab_500italic.otf');
  font-weight: 500;
  font-style: italic;
}
