
@font-face {
  font-family: 'MuseoSlab';
  src: url('../fonts/museoslab/MuseoSlab-500.eot');
  src: url('../fonts/museoslab/MuseoSlab-500.eot?iefix') format('eot'),
       url('../fonts/museoslab/MuseoSlab-500.woff') format('woff'),
       url('../fonts/museoslab/MuseoSlab-500.ttf') format('truetype'),
       url('../fonts/museoslab/MuseoSlab-500.svg#MuseoSlab-500') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSlab';
  src: url('../fonts/museoslab/MuseoSlab-500italic.otf');
  src: url('../fonts/museoslab/MuseoSlab-500italic.eot?iefix') format('eot'),
       url('../fonts/museoslab/MuseoSlab-500italic.woff') format('woff'),
       url('../fonts/museoslab/MuseoSlab-500italic.ttf') format('truetype'),
       url('../fonts/museoslab/MuseoSlab-500italic.svg#MuseoSlab-500Italic') format('svg');
  font-weight: 500;
  font-style: italic;
}
