// responsive bits
//$hide_in_mobile: "";
//$show_in_mobile: "";

// colors
$darktext: #4c5a52;
$lighttext: #ffffff;
$verylightbg: #ffffff;
$highlight: #f47735;
$lightbg: #e5e5e5;
$quicklinksbg: #c1eae9;

// margins and paddings
$internal_block_margin: 10px;
$paragraph_padding: 8px;

// Susy Media Layouts @see http://susy.oddbird.net/guides/reference/#ref-media-layouts
$tab: 770px 12;
$desk: 980px 16;

