@import "susyone";
@include border-box-sizing;

// colors
$orange: #f05A28;
$lightorange: #f48b68;
$green: #29b473;
$lightgreen: #a7d8bf;
$darkblue: #134370;
$lightblue: #00Aff0;
$lighterblue: #a6e3fa;
$yellow: #ffd300;
$lightgrey: #e6e6e6;
$grey: #ccc;
$darkgrey: #666;
$darkergrey: #4d4d4d;
$greyblack: #1a1a1a;
$red: #d82e31;

// margins and paddings
$internal_block_margin: 10px;
$paragraph_padding: 8px;

// Susy Media Layouts @see http://susy.oddbird.net/guides/reference/#ref-media-layouts
$tab_width: 740px;
$tab_break: 740px 12;
$desk_width: 980px;
$desk_break: 980px 16;

// Susy Variables

// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 20px;
$horz-spacing-unit: 20px;

// Define Susy grid variables mobile first.
$total-columns: 4;
$column-width: 40px;
$gutter-width: $horz-spacing-unit;
$grid-padding: $gutter-width;

$container-style: magic;

// responsive bits
$hide_in_mobile: "#block-menu-block-1 .selectnav-processed, #block-menu-block-10 .selectnav-processed, .selectnav-processed ";
$show_in_mobile: "#block-menu-block-1 .selectnav, #block-menu-block-2 .selectnav, #block-menu-block-10 .selectnav";

// responsive images: should mirror what is specified in esd_frontend.js
$resp_imgs: ".l-content-right .l-content-main img[src*='/580w']";

#{$hide_in_mobile} {
  display: none;
}

@include at-breakpoint($tab_break) {
  #{$hide_in_mobile} {
    display: block;
  }
  #{$show_in_mobile} {
    display: none;
  }
  .l-footer-wrapper .l-region--footer-first {
    margin: 0px;
    border-right: 1px dotted $grey;
    > div {
      margin-right: $vert-spacing-unit;
    }
  }
  #block-block-2,
  #block-locale-language {
    position: relative;
    float:none;
    top: 0;
  }
  .l-region--footer-fourth {
    position: relative;
    #block-boxes-school-leaders {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}

@include at-breakpoint($desk_break) {
  .l-region--footer-fourth {
    @include push(6);
    > div {
      margin-left: 3px;
    }
  }

  #block-boxes-topschools,
  #block-boxes-startearly {
    margin: 20px 0 30px !important;
    float: left !important;
  }
  #block-boxes-startearly {
    margin-left: 20px !important;
  }

  #block-boxes-school-score-es,
  #block-boxes-school-score-widget {
    gargin-top: 0;
    h2 {
      display: inline-block;
    }
    .block__content {
      .score-right {
        padding: 0 0 0 180px;
        background: {
          image: url('../images/schoolscore_icon.png');
          repeat: no-repeat;
        }
      }
    }
  }

  #block-boxes-did-you-know-es,
  #block-boxes-did-you-know {
    h2 {
      display: inline-block;
    }
    .block__content {
      .dyk-image {
        display: block !important;
        width: 160px;
        float: left;
        margin-top: -10px;
      }
      .dyk-body {
        margin: 0 20px 0 160px;
      }
    }
  }
  .l-region--pre-content {
    clear: both;
    top: -20px;
    position:relative;
  }
}

/* MIXin Mingle */
@mixin clearListStyles {
  ul {
    list-style:none !important;
    margin: 0;
    padding: 0;
    li {
      list-style-type: none !important;
      list-style-image: none !important;
    }
  }
}

@mixin linkBlockStyle {
  display: block;
}

@mixin arrowLink {
  input[type=submit] {
    text-indent: -9999px;
  }
  input[type=submit],
  a {
    display: block;
    width: 40px;
    height: 40px;
    border: 0 none;
    cursor: pointer;
    background: {
      image: url(../images/big_arrow_sprite.png);
      repeat: no-repeat;
      position: 0 0;
    }
  }
  input[type=submit]:hover,
  input[type=submit]:focus,
  a:hover, a:focus {
    background-position: 0 -90px;
  }
}

@mixin arrowLinkLeft {
  a {
    display: block;
    width: 40px;
    height: 40px;
    background: {
      image: url(../images/big_arrow_sprite_left.png);
      repeat: no-repeat;
      position: 0 0;
    }
  }
  a:hover, a:focus {
    background-position: 0 -90px;
  }
}

@mixin imageLink {
  text-indent: -9999px;
  display:inline-block;
  border: 0 none;
  background: {
    repeat: no-repeat;
    position: 0 0;
  }
}

@mixin arrowLinkSmall {
  input[type=submit],
  a:link, a:active {
    border: 0 !important;
    @include imageLink;
    display: block;
    width: 19px;
    height: 19px;
    cursor: pointer;
    background: {
      image: url(../images/small_arrow_sprite.png);
      repeat: no-repeat;
      position: -1px -1px;
    }
  }
  input[type=submit]:hover,
  input[type=submit]:focus,
  a:hover, a:focus {
    border: 0 !important;
    background-position: -1px -70px;
  }
}

@mixin blackButton {
  a:link, a:visited,
  input[type=submit] {
    padding: 2px 3px;
    border: 1px solid black;
    background-color: transparent;
    color: black;
    cursor: pointer;
  }
  a:hover, a:focus,
  input[type=submit]:focus,
  input[type=submit]:hover {
    color: $darkgrey;
  }
}
@mixin blueMenu {
  a {
    @include linkBlockStyle;
    @include rightWhiteArrow;
    padding: 10px 40px 10px 10px;
    color: black;
    background: {
      color: $lighterblue;
    }
  }
  a.active-trail,
  a.active,
  a:hover,
  a:focus {
    background-color: $lightblue;
  }
}
.icon-sprite {
  background: {
    image: url(../images/icon_sprite.png);
    repeat: no-repeat;
  }
}
@mixin bgLightbulb {
  @extend .icon-sprite;
  background-position: 102% 15px;
}
@mixin bgEnvelope {
  @extend .icon-sprite;
  background-position: right -200px;
}
@mixin bgActionArrow {
  @extend .icon-sprite;
  background-position: right -85px;
}

@mixin rightWhiteArrow {
  background: {
    image: url(../images/whiteArrowRight.png);
    repeat: no-repeat;
    position: 98% center;
  }
}
@mixin rightWhiteArrowBig {
  background: {
    image: url(../images/heavyWhiteArrowRight.png);
    repeat: no-repeat;
    position: 98% center;
  }
}
@mixin downBlackArrowBig {
  background: {
    image: url(../images/heavyBlackArrowDown.png);
    repeat: no-repeat;
    position: 98% center;
  }
}
